
body {
	background-color: white;
}


#container {
  background-color: white ; 
  width: 1140px ;
  height: 100vh ;
  margin-left: auto ;
  margin-right: auto;
}

#title {
	width: 400px;
  height: 130px;
	float: left;
}

#nav {
	text-align: right;
	line-height: 80px;
	height: 130px;
	width: 480px;
	float: right;
}

a.homeselect {
  text-decoration: none;
    color: black;
  }
a.navselected{
  text-decoration: none;
  color: black;
}
a:hover.navselected{ 
  color: red;
}

#content {
	text-align: center;
	clear: both;
}

.button {
  background-color: transparent; 
  border: none;
  color: black;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}


.mySlides {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


