body {
	background-color: #eee;
}

a {
	text-decoration: none;
	color: black;
}
a:hover { 
  color: red;
}


#container {
  background-color: white ; 
  width: 1140px ;
  height: 100vh ;
  margin-left: auto ;
  margin-right: auto;
}

#header {
	padding: 10px;

}

#title {
	width: 300px;
	float: left;
}

#nav {
	text-align: right;
	line-height: 85px;
	height: 110px;
	width: 480px;
	float: right;
}

#content {
	text-align: center;
	clear: both;
}

.button {
  background-color: transparent; 
  border: none;
  color: black;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}
.selected {
}




